# *Assignment-1*

#### 1. Take a string as a user input and display only those characters present at even index number.

In [5]:
s = input("Enter any string : ")
for i in range(0, len(s), 2):
    print(s[i])

Enter any string : PythonIsLove
P
t
o
I
L
v

#### 2. Create a list of 10 integers taking user input. And display the sum of only those numbers present at odd indexes.

In [1]:
List = list(map(int,input("\nEnter the numbers : ").strip().split()))[:10]
tsum = 0
for i in range(1, 10, 2):
    tsum += List[i]
print(tsum)

Enter the numbers : 1 2 3 4 5 6 7 8 9 10
30

#### 3. Sort this given list , List1 = [ 15, 47, 68, 89, 35, 13] , without using the sort function.

In [15]:
List1 = [ 15, 47, 68, 89, 35, 13]
for i in range(len(List1)):
    for j in range(i + 1, len(List1)):
        if(List1[i] > List1[j]):
            List1[i],List1[j] = List1[j],List1[i]
print(List1)

[13, 15, 35, 47, 68, 89]

#### 4. Print the following pattern - 
        1    
        12   
        123    
        1234    
        12345

In [16]:
pattern = "12345"
for i in range(len(pattern)):
    print(pattern[0:i+1], end="\n")

1
12
123
1234
12345

#### 5. WAP to accept a 4 digit number from user and check if it’s a palindrome number

In [18]:
n = input("enter any 4 digit no. : ")
if n == n[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

enter any 4 digit no. : 1221
Palindrome

#### 6. Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [21]:
List1 = [1, 2, 3, 4, 5]
List2 = [6, 7, 8, 9, 10]
List = [x for x in List1 if x&1]
for x in List2:
    if x&1 == 0:
        List.append(x)
print(List)

[1, 3, 5, 6, 8, 10]

#### 7. Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [23]:
def findPower(base :int, exp :int) -> int:
    return base**exp

print(findPower(2, 4))

16

#### 8. Write a recursive function to count the number of digits present in a number given by the user.

In [27]:
def countDigits(n :int, c :int) -> int:
    if(n == 0):
        return c
    return countDigits(n//10, c + 1)

n = int(input("Enter a no. : "))
print(countDigits(n, 0))

Enter a no. : 12347736
8

#### 9. WAP to replace the word “red” with “blue” from the string S =” The red bag has 10 red pens”.

In [29]:
s = "The red bag has 10 red pens"
s = s.replace('red', 'blue')
print(s)

The blue bag has 10 blue pens

#### 10. WAP to accept a choice from the user either 1 or 2 and find the sum of series accordingly.
             1 : S= a+ a^2/2 + a^3/3 + a^4/4 +......+ a^n/n
             2 : S=(1+2/2\*3) + (1+2+3/1\*2\*3)+ .... +(1+2+3+...+n/1\*2\*3\*.....\*n)

In [34]:
def series1(n :int, a :int) -> int:
    tsum = 0.0
    for i in range(1,n+1):
        tsum += (a**i)/i
    return tsum

def series2(n :int) -> int:
    nume = 1 + 2
    deno = 1 * 2
    tsum = nume/deno
    for i in range(3, n+1):
        nume += i
        deno *= i
        tsum += nume/deno
    return tsum 

n = int(input("Enter any no. : "))
choice = input("Enter your choice 1 or 2 : ")

if(choice == '1'):
    print(series1(n, 4))
else:
    print(series2(n))

Enter any no. : 5
Enter your choice 1 or 2 : 2
3.0416666666666665

#### 11. Given an input string, count occurrences of all characters within a string

In [37]:
from collections import Counter

s = input("Enter a string : ")
countChars = Counter(s)
print(countChars)

Enter a string : Mississippi
Counter({'i': 4, 's': 4, 'p': 2, 'M': 1})

#### 12. WAP to remove special symbols/Punctuation from a given string

In [1]:
import re

s = input("Enter a string : ")
s = re.sub(r'[^\w\s]', ' ', s)  #for punctuations
s = re.sub(' +',' ', s) # for extra spaces
print(s)

Enter a string :  Hello@World#How are(! you? *&
 Hello World How are you

#### 13. Split a given string on hyphens into several substrings and display each substring.

In [3]:
s = input("enter a string: ")
s = s.split('-')
for x in s:
    print(x, end='\n')

enter a string: Python-is-a-programming-language
Python
is
a
programming
language

#### 14. Given two strings, s1, and s2 return a new string made of the first, middle, and last characters each input string

In [8]:
s1 = 'Hello'
s2 = 'World'
s = s1[0] + s2[0] + s1[len(s1)//2] + s2[len(s2)//2] + s1[-1] + s2[-1]
print(s)

HWlrod

#### 15.  Given dictionary: Dict1 = { "name": "Arman", "age":21, "salary": 80000, "city": "Ranchi", “country”: “India"}
Create a new dictionary by extracting the following keys from above dictionary
Keys to extract :
Key = { “name”, “salary”}
1. Delete set of keys from a dictionary
Keys to remove = { “age”, “country”}
2. Rename key “city” to “location” in the dictionary

In [30]:
Dict1 = { "name": "Arman", "age":21, "salary": 80000, "city": "Ranchi", "country": "India" }
Key = {"name", "salary"}

Dict2 = {x : Dict1[x] for x in Key}
print(Dict2)
toRemove = { "age", "country"}

for x in toRemove:
    Dict1.pop(x)
print(Dict1)

Dict1['location'] = Dict1['city']
del Dict1['city']
print(Dict1)

{'name': 'Arman', 'salary': 80000}
{'name': 'Arman', 'salary': 80000, 'city': 'Ranchi'}
{'name': 'Arman', 'salary': 80000, 'location': 'Ranchi'}

#### 16. Reverse the given tuple T = (10, 20 , 30 , 40, 50).

In [9]:
T = (10, 20 , 30 , 40, 50)
T = tuple(reversed(T))
print(T)

(50, 40, 30, 20, 10)

#### 17. Modify the first item (22) of a list inside a following tuple to 222
      T = (11, [22, 33], 44, 55)

In [10]:
T = (11, [22, 33], 44, 55)
T[1][0] = 222
print(T)

(11, [222, 33], 44, 55)

#### 18. Counts the number of occurrences of item 50 from a tuple
         T = (‘a’ , ‘b’ ,‘c’ , ‘a’, ‘e, ‘a’ , ‘b’ , ‘e’ ,‘o’)

In [12]:
from collections import Counter

T = ('a' , 'b' ,'c' , 'a', 'e', 'a' , 'b' , 'e' ,'o')
countEle = Counter(T);
print(countEle)

Counter({'a': 3, 'b': 2, 'e': 2, 'c': 1, 'o': 1})

#### 19. Return a new set of identical items from a given two set
        set1 = {10, 20, 30, 40, 50}
        set2 = {30, 40, 50, 60, 70}
        Expected output: {40, 50, 30}

In [13]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
new_set = set1.intersection(set2)
print(new_set)

{40, 50, 30}

#### 20. Remove items 10, 20, 30 from the following set at once
        set1 = {10, 20, 30, 40, 50}
        Expected output: {40, 50}

In [14]:
set1 = {10, 20, 30, 40, 50}
set_del = {10, 20, 30}
set1.difference_update(set_del)
print(set1)

{40, 50}

#### 21. Update set1 by adding items from set2, except common items
        set1 = {10, 20, 30, 40, 50}
        set2 = {30, 40, 50, 60, 70}
        Expected output: {70, 10, 20, 60}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

#### 22. Remove duplicate from a list and create a tuple and find the minimum and maximum number
        Given: sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
        Output :
        unique items [87, 45, 41, 65, 99]
        tuple (87, 45, 41, 65, 99)
        min: 41
        max: 99

In [10]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]

sampleList = list(set(sampleList))
print("unique items", sampleList) 

Tuple = tuple(sampleList)
print("tuple", Tuple)

print("min: ", min(Tuple))
print("max: ", max(Tuple))

unique items [65, 99, 41, 45, 87, 94]
tuple (65, 99, 41, 45, 87, 94)
min:  41
max:  99

#### 23. Given a two list of equal size create a Python set such that it shows the element from both lists in the pair
        Expected Output:
        First List [2, 3, 4, 5, 6, 7, 8]
        Second List [4, 9, 16, 25, 36, 49, 64]
        Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [12]:
List1 = [2, 3, 4, 5, 6, 7, 8]
List2 = [4, 9, 16, 25, 36, 49, 64]
print("Result is ", set(zip(List1, List2)))

Result is  {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

#### 24. Define a function that accepts a decimal number and returns its binary equivalent

In [22]:
n = int(input('Enter any decimal no. : '))
print(bin(n))

Enter any decimal no. : 10
0b1010

#### 25. Suppose you want to develop a program to play a lottery. The program randomly generates a two-digit number and prompts the user to enter a two-digit number, and determines whether the user wins according to the following rules:
        a) If the user has entered that excat same number which matches with the
        randomly generated number then user wins Rs10,000
        b) If all the digits in the user’s input match all the digits in the lottery number,
        then the award is Rs 3,000.
        c) If only one digit in the user’s input matches a digit in the lottery number, the
        award is $1,000.

In [4]:
import random

random_num = str(random.randint(10, 99))
n = input('Welcome!!\n Enter a two digit no. and see what the Lottery holds for you.\n Your Number : ')
if(random_num == n):
    print('Amazing!! You won Rs10000.')
elif(random_num == n[::-1]):
    print("Close Enough.. You won Rs3000.")
elif(random_num[0] == n[0] or random_num[0] == n[1] or  random_num[1] == n[0] or random_num[1] == n[1]):
    print("Nice Try.. You won Rs1000.")
else:
    print("Better Luck Next Time")
print("The lottery no. was ", random_num)

Welcome!!
 Enter a two digit no. and see what the Lottery holds for you.
 Your Number : 11
Nice Try.. You won Rs1000.
The lottery no. was  51